.adminPanelContainer {
    padding: 20px;
  }
  
  .tutorsList {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .approveButton, .rejectButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .approveButton {
    background-color: #4caf50;
    color: white;
  }
  
  .rejectButton {
    background-color: #f44336;
    color: white;
  }
  
  .approveButton:disabled, .rejectButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  